/* Required padding for .navbar-fixed-top is 50px. Add to top level container div if needed.
 * Remove if using .navbar-static-top. Change if height of navigation changes. */

/* BOOTSTRAP OVERRIDES */

body p, body span, body h4{
    font-family: Roboto, 'Lucida Grande', Tahoma, sans-serif;
}

body h1, body h2, body h3 {
    font-family: 'Noto Sans', 'Lucida Grande', Tahoma, sans-serif;
    color: var(--black-olive);
}

.navbar-brand {
    font-family: 'Noto Sans', 'Lucida Grande', Tahoma, sans-serif;
}

.navbar-nav>li {
    font-family: Roboto, 'Lucida Grande', Tahoma, sans-serif;
}

/* GENERIC STYLES */

:root {
  --black-leather: #223022;
  --gray-asparagus: #3E573E;
  --black-olive: #3C413A; /* primary heading */
  --ebony: #5E605B;       /* secondary heading */
  --pastel-gray: #CCC;
}

.view {
    padding: 70px 0 0 0;
}

.error-view {
    height: 100vh;
}

/* LANDING PAGE */

.viewport-background {
    display: flex;
    height: 100vh;
    background-size: cover;
    background-image: url('../../static/greencatlandscape.jpeg');
    background-color: var(--black-leather);
}

.search-section {
    margin: auto;
    text-align: center;
    color: var(--pastel-gray);
}

.search-section h2 {
    color: var(--pastel-gray);
}

.submit-button {
    background-color: #3C3731;
    padding: 6px 12px;
    margin-bottom: 0;
    border: 1px solid var(--pastel-gray);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

/* CAT LIST PAGE */

.list-view {
    background-color: #f2f2f2;
    height: 100vh;
}

.cat-card {
    margin: 30px 10px;
    box-shadow: 0 3px 4px 0 #777;
    box-shadow: 0 4px 20px 0 #969278;
    border-radius: 10px;
    height: 400px;
    text-align: center;
    background-color: #FFF;
}

.cat-card:hover {
    opacity: 0.5;
}

.cat-card-link:hover {
    text-decoration: None;
}

.image-container {
    height: 65%;
    padding: 10px 40px;
}

.cat-card-image {
    margin: auto;
    border-radius:100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.info-container h3 {
    color: var(--black-olive);
}

.info-container h4 {
    color: var(--ebony);
}

.loading {
    text-align: center;
    display: flex;
    height: 70vh;
}

.loading-container {
    margin: auto;
}

.loading-gif {
    border-radius: 50%;
    width: 300px;
}

h3 {
    font-size: 22px;
}

/* ABOUT PAGE */

.about-copy {
    padding: 30px;
    font-size: 16px;
}

.contact {
    padding: 30px;
    display: flex;
    justify-content: center;
    font-size: 16px;
}

.icon-image-container {
    padding: 10px;
}

.icon-image {
    padding: 10px;
}

/* DETAIL PAGE */

.detail-section {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 20px 0 #969278;
  margin: 15px;
}

.detail-view-image-container {
    height: 400px;
}

.detail-view-image {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.contact-container {
    color: black;
    padding: 20px;
    text-align: center;
    height: 400px;
}

.contact-heading{
    padding: 1em;
    height: 25%;
    color: var(--black-olive);
}

.contact-details {
    font-size: 1.4em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 75%;
    color: var(--ebony);
    word-wrap: break-word;
}

.data-pill {
    display: inline-block;
    background-color: var(--gray-asparagus);
    color: white;
    min-width: 80px;
    border-radius: 20px;
    padding: 10px;
    margin: 5px 10px 5px 0;
    box-shadow: 2px 2px 2px var(--black-leather);
    text-align: center;
}

.about-inner {
    padding: 30px;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .icon-item {
        text-align: center;
    }

    .image-container {
        padding: 20px;
    }

    .contact {
        flex-direction: column;
    }

    .viewport-background {
        background-image: url('../../static/greencat.jpeg');
    }
}


@media only screen and (max-device-width: 1024px) {
    .loading {
        display: block;
    }

    .about {
        height: 100%;
    }

    .viewport-background {
        background-image: url('../../static/greencat.jpeg');
    }
}

