/* Required padding for .navbar-fixed-top is 50px. Add to top level container div if needed.
 * Remove if using .navbar-static-top. Change if height of navigation changes. */

#react-app {
    background-color: #000;
}

.view {
    padding: 70px 0px;
}

/* LANDING PAGE */

.viewport-background {
    display: flex;
    height: 100vh;
    background-size: cover;
    background-image: url('../../static/curious_cat-1600x900.jpg');
    background-color: #000;
}

.search-section {
    margin: auto;
    text-align: center;
    color: #ccc;
}

/* CAT LIST PAGE */

.cat-card {
    margin: 30px 10px;
    box-shadow: 0 3px 4px 0 #777;
    border-radius: 10px;
    height: 375px;
    text-align: center;
    background-color: #FFF;
}

.cat-card:hover {
    opacity: 0.5;
}

.image-container {
    height: 65%;
    background-color: #000;
}

.cat-card-image {
    margin: auto;
    border-radius: 10px 10px 0 0;
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.info-container {
    color: #000;
    text-decoration: None;
}

.loading {
    text-align: center;
    display: flex;
    height: 100vh;
}

.loading-container {
    margin: auto;
}

.loading-gif {
    border-radius: 50%;
    width: 300px;
}

h3 {
    font-size: 22px;
}

/* ABOUT PAGE */

.about {
    text-align: center;
    color: #FFF;
}

/* DETAIL PAGE */

.cat-detail-container {
    height: 100%;
    margin: 10px 0px;
    padding: 10px;
    color:#e4ebf5;
}

.detail-card-image {
    margin: auto;
    border-radius: 10px;
    height: 500px;
    width: 100%;
    object-fit: fill;
}

.cat-detail-header {
    text-align: center;
}


.icon-item {
    display: block;
    padding: 10px 10px;
    font: 22px bold;
}

.icon-image {
    padding: 10px 20px;
}

.icon-image-container {
    display: inline-block;
    padding: 10px 20px;
}


.icon-item-data {
    display: inline-block;
    padding: 10px;
    width: 60%;
    white-space: normal;
    vertical-align: middle;
}


.inverted {
    filter: invert(100%);
}

.address {
    display: block;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .icon-item {
        text-align: center;
    }

    .icon-item-data {
     display: block;
     width: 100%;
    }
}


